.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  .contact-description-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    width: 90%;
    h1 {
      width: 100%;
    }
    h2 {
      width: 95%;
    }
    h1,
    h2 {
      text-align: left;
      color: black;
    }
    a {
      width: 90%;
      text-align: left;
    }
  }
}
