@import "../../assets/constant.scss";

.service-page-wrapper {
  width: 100%;
  .service-component {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-between;
    align-items: center;
    .services-component-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-color: $primary-color;
      height: 48%;
      width: 80%;
      .services-links {
        height: 100%;
        width: 100%;
        .service-icon {
          height: 50%;
          width: 100%;
          font-size: 35px;
          overflow: hidden;
          color: white;
        }
        .service-texts {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 50%;
          color: white;
          p {
            font-size: 10px;
          }
        }
      }
    }
  }
}
