@import "../../assets/constant.scss";

.services-wrapper {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 15vh;
  background-color: #fff;
  .header-services {
    width: 100%;
    height: 35vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .header-blend {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
  .content-services {
    display: flex;
    width: 70%;
    text-align: left;
    color: black;
  }
  .wrapper-reservation {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    background-color: #fff;
    color: black;
    .services-price {
      display: flex;
      flex-direction: column;
      width: 80%;
      .price-weekend,
      .price-week {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h4,
        h3 {
          flex-grow: 1;
          text-align: left;
          font-size: 15px;
        }
        h3 {
          font-size: 16px;
          text-align: right;
        }
        .price-line {
          height: 1px;
          flex-grow: 8;
          background-color: $primary-color;
        }
      }
    }
  }
}
