@import "../../assets/constant.scss";
.about-me-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: $nav-height;
  margin-bottom: 20px;
  .about-me-photo {
    height: 40vh;
    width: 50%;
    background-image: url("/img/headers/Me/Salmed1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .about-me-description {
    width: 80%;
    font-size: 18px;
    font-family: $secendary-font;
    color: black;
    text-align: left;
  }
}
@media screen and (max-width: 768px) and (orientation: landscape) {
  .about-me-wrapper {
    flex-direction: row;
    width: 95%;
    margin-top: $nav-height-landscape;
    .about-me-photo {
      height: 80vh;
      width: 30%;
    }
    .about-me-description {
      width: 60%;
      font-size: 18px;
    }
  }
}
