@import "../../assets/constant.scss";
.slider-wrapper {
  width: 100%;
  height: 100%;
  .slider {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 1s;
    .slider-dots-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 5vh;
      .dot {
        margin-right: 10px;
        cursor: pointer;
        &.active {
          color: $primary-color;
        }
      }
    }
  }
}
